
@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'NeueMontreal', sans-serif;
    margin: 0px;
    overflow: hidden;
    cursor: wait;
  }
